.biobox {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 320px;
}
.newssite {
  background-color:#AFEEEE;
  padding: 10px 10px 10px 10px;
  margin-bottom: 20px



}

.newstitle {
  background-color: #48D1CC;
  padding: 20px 20px 20px 20px;
}
