#greeting {
  font-size: 2em;
  margin: 1em
}

#weather {
  font-size: 2em;
  margin: 1em;
}

.biobox {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 320px;
}

.newstitle {
  background-color: #FB396D;
  padding: 20px 20px 20px 20px;
  margin-bottom: 5px;
}


.newssite {
  background-color:#FF89A9;
  padding: 10px 10px 10px 10px;
  margin-bottom: 5px;
  margin-top: 5px;
  margin-right: 5px;
  float: left;
}

.clear {
  clear: left;
}


.name_container {
background-color: white;
width: 344px;
font-size: 2.5em;
padding: 20px 20px 20px 20px

}

.content_container {
background-color: white;
width: 768px;
}

.image_container {
  height: 344px;
  width: 344px;
  float: left;
  border-radius: 50%;
  overflow: hidden;
  padding: 5px 5px 5px 5px
}


.bio_container {
  background-color: white;
  width: 344px;
  float:left;
  font-size: 1.5em;
  text-align: left;
  padding: 20px 20px 20px 20px

}
.clear {
  clear: left;
}
.news_container {
  background-color: white;
  width:344px;
  padding: 20px 20px 20px 20px

}

#rss_items {
border: 1px solid pink;
padding: 5px 5px 5px 5px
margin: 5px 5px 5px 5px

}

.rss_title {
font-size: 1.5em;

}

.rss_description {
padding-top: 10px;
padding-bottom: 25px;

}
